body {
    background: #fff;
    color: #545454;
    font-family: 'Montserrat', san-serif;
}

.log-btn {
    background-color: blue;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 80%;
    border-radius: 0px;
}

.log-btn:hover {
    cursor: pointer;
};

button {
    background: #111111;
    color: white !important;
    padding: 1em 2em;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

button:focus, button:hover {
    outline: 0;
}
