<template name='showProjects'>
    <div>
        {{#if atLeastOneProject}}
            {{#each projects}}
                <h3>{{name}}</h3>
                <p>{{date}}</p>
                <div class='card-tabs'>
                    <div>batch</div>
                    <div class='log-num'>log num</div>
                </div>
            {{/each}}
        {{else}}
            <div class='empty-events'>
                <img src='images/empty_state.png'>
                <div class='copy'>
                    <p>You have no events.</p>
                    <p>Tap the '+' icon to create events.</p>
                </div>
            </div>
        {{/if}}
    </div>
</template>