<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-container">
            <h4 id='navbar-title'>{{title}}</h4>
            {{#if noUser}}
                <div class='login-btn'>
                    Sign In
                </div>
            {{else}}
                <div class='logout-btn'>
                    Log Out
                </div>
                {{#if addEventsPage}}
                    <div class='add-events'>
                        Add Events
                    </div>
                    <div class='glyphicon glyphicon-plus'></div>
                {{/if}}
            {{/if}}
        </div>
    </nav>
</template>
