<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-container">
            <h4 id='navbar-title'>{{title}}</h4>
            <!-- <div class='add-events glyphicon glyphicon-plus'></div> -->
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"> -->

            {{#if noUser}}
                <div class='login-btn'>
                    Sign In
                </div>
            {{else}}
                <div class='logout-btn'>
                    Log Out
                </div>
                {{#if addEventsPage}}
                    <div class='add-events'>
                        Add Events
                    </div>
                    <div class='glyphicon glyphicon-plus'></div>
                {{/if}}
            {{/if}}
        </div>
        <!-- <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div> -->
    </nav>
</template>
